<div class="container">

  <h1>Film list</h1>

  <ol class="breadcrumb">
    <li class="active">
      Movies
    </li>
  </ol>

  <div class='row'>
    <div class='col-sm-12'>
      <p>
        <form>
          <legend>Search</legend>
          <div class='col-xs-4'>
            <input type='text' class='form-control' value='<%= params[:keyword] %>' name='keyword' placeholder='Keyword' >
          </div>
        </form>
      </p>
      <p class='pull-right'>
        <a href='#' id='show-form' class='btn btn-primary'>New Movie</a>
      </p>
    </div>
  </div>

  <hr>

  <div class="col-sm-12 movie-form">
    <p>
      <%= form_for(Movie.new, remote: true, html: { class: 'horizontal-form' }) do |f| %>
        <legend>New Movie</legend>

        <div class="col-sm-5">
          <div class="form-group">
            <label class="col-sm-2 control-label">Genre</label>
            <div class="col-sm-10">
              <%= f.select :genre_ids, @genres.map { |g| [g.name, g.id] }, {}, { multiple: true } %>
            </div>
          </div>

          <br>
          <br>
          <br>
          <br>

          <div class="form-group">
            <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
          </div>

          <div class="form-group">
            <%= f.text_field :description, class: 'form-control', placeholder: 'Description' %>
          </div>

          <div class="form-group">
            <%= f.text_field :tmdbid, class: 'form-control', placeholder: 'The Movie Database ID' %>
          </div>

          <div class="form-group">
            <legend>Rating</legend>
            <% (1..5).each do |rating| %>
              <label class="radio-inline">
                <%= rating %><%= f.radio_button :rating, rating %>
              </label>
            <% end %>
          </div>

          <div class="form-group">
            <%= f.submit class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </p>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <ul class="list-unstyled">
        <%= render @movies %>
      </ul>
    </div>
    <div class="col-sm-4">
      <h2>Genres</h2>
      <ul class="list-unstyled">
        <% @genres.each do |genre| %>
        <li>
          <%= link_to genre.name, movies_path(genre: genre.name), class: 'label label-primary' %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
