<div class="container">

  <h1>Film list</h1>

  <ol class="breadcrumb">
    <li class="active">
      Movies
    </li>
  </ol>

  <div class='row'>
    <div class='col-sm-12'>
      <p>
        <form>
          <legend>Search</legend>
          <div class='col-xs-4'>
            <input type='text' class='form-control' value='<%= params[:keyword] %>' name='keyword' placeholder='Keyword' >
          </div>
        </form>
      </p>
      <p class='pull-right'>
        <a href='#' id='show-form' class='btn btn-primary'>New Movie</a>
      </p>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-8">
      <ul class="list-unstyled">

        <% @movies.each do |movie| %>
          <li class="row rating-<%= movie.rating %>">
            <div class="col-sm-3">
              <a href="#" target="_blank">
                <%= image_from_tmdb(movie.tmdbid) %>
              </a>
              <p class="text-center rating"><strong><%= movie.rating %></strong>/5</p>
            </div>

            <div class="col-sm-9">
              <h3><a href="#"><%= movie.title %></a></h3>
                <p class="text-muted"><em>another title: <%= movie.title %></em></p>

              <div>
                <p>
                  <%= movie.description %>
                </p>
              </div>
              <span>
                <% movie.genres.each do |genre| %>
                  <%= link_to genre.name, '#', class: 'label label-primary' %>
                <% end %>
              </span>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-sm-4">
      <h2>Genres</h2>
      <ul class="list-unstyled">
        <% @genres.each do |genre| %>
        <li>
          <%= link_to genre.name, movies_path(filter: genre.id), class: 'label label-primary' %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
